* {
    padding: 0px;
    margin: 0px;
}

.borda {
    border:  solid #3892E4;
    background-color: #3892E4;
    height: 72px;
    width: 100vw;
} 
.logo {
    position: absolute;
    margin: 8px;
}

.inicio {
    font-size: 21px ;
    color: #FFFF;
    font-weight: 79px;
    position: absolute;
    margin-left: 44vh;
    margin-top: 5vh;
    cursor: pointer;   
    transition: transform 0.3s; 
}
.inicio:hover {
    transform: translateY(-10px);
}

.equações {
    font-size: 21px ;
    color: #FFFF;
    font-weight: 79px;
    position: relative;
    margin-left: 75vh;
    margin-top: 5vh;
    cursor: pointer;
    transition: transform 0.3s;
}
.equações:hover {
    transform: translateY(-10px);
}
.operacoesbasicas {
    font-size: 21px ;
    color: #FFFF;
    font-weight: 79px;
    position: absolute;
    margin-left: 110vh;
    margin-top: 5vh;
    cursor: pointer;
    transition: transform 0.3s;
}
.operacoesbasicas:hover {
    transform: translateY(-10px);
}
.quemsomos {
    font-size: 21px ;
    color: #FFFF;
    font-weight: 79px;
    position: absolute;
    margin-left: 160vh;
    margin-top: 5vh;
    cursor: pointer;
    transition: transform 0.3s;
}
.quemsomos:hover {
    transform: translateY(-10px);
}
ul{
    display: flex;
    list-style: none;
    font-size: 23px ;
    color: #FFFF;
    font-weight: 79px;
    justify-content: space-between;
    
}
a {
    text-decoration: none;
    -webkit-text-fill-color: white;
    font-weight: bold;
    position: relative;
    display: inline;
    
}
nav ul li::after {
    content: "";
    width: 0%;
    height: 4px;
    background-color: #f1f1f1;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3S ease-in-out;
}
nav ul li:hover {
    color: #f1f1f1;
    transition: 0.7s;
}
nav ul li:hover::after {
    width: 100%;
}
body {
    display: flex;
    background-color: #dbdbdbcc;
                            
    background-size: cover;
}
.menu {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    min-width: 100px;
    opacity: 0;
    animation: opacidademenu 1.5s ease forwards;
    text-align: center; 
    
}
.equações:hover .menu {
    display: block !important;
}
.menuopbasicas {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    min-width: 100px;
    opacity: 0;
    animation: opacidademenu 1.5s ease forwards;
    text-align: center;
}
.operacoesbasicas:hover .menuopbasicas {
    display: block;
}
@keyframes opacidademenu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.tituloequacoes {
    position: absolute;
    margin-left: 80vh;
    margin-top: 22vh;
    font-weight: 317px;
    font-size: 77px;
    color: #1E8ADC;
    text-shadow: -1px -1px 0 white, 2px 2px 0 white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: context-menu;
    transition: transform 0.5s;
}
.tituloequacoes:hover {
    transform: translateY(-10px);
}
h1:hover{
    transform: translateY(-10px);
}
.subtituloequacoes {
    position: absolute;
    margin-left: 72vh;
    margin-top: 41vh;
    color: rgb(143, 143, 143);
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 0.5s;
}
.subtituloequacoes:hover {
    transform: translateY(-10px);
}
.txtequacoes {
    position: absolute;
    margin-left: 89vh;
    margin-top: 62vh;
    color: rgb(143, 143, 143);
   font-family: Arial, Helvetica, sans-serif;
    cursor: context-menu;
    transition: transform 0.5s;
}
.txtequacao1grau {
    position: absolute;
    margin-top: 62vh;
    color: rgb(143, 143, 143);;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 8vh;
    cursor: context-menu;
    transition: transform 0.5s;
}
.imgequacao1grau {
    position: absolute;
    margin-top: 75vh;
    margin-left: 12vh;
}
.imgequacao1grau:hover {
    animation: zoom 2s 1;
}
.equacao1graubutton {
    background-color: #1E8ADC;
    color: #f1f1f1;
    font-size: 20px;
    padding: 10px;
    border: 3px solid white;
    border-color:  #f1f1f1;
    border-radius: 22px;
    cursor: pointer;
    position: absolute;
    margin-top: 113vh;
    margin-left: 12vh;
    width: 320px; 
    transition: transform 0.5s; 
    
}
.txtequacao2grau {
    position: absolute;
    margin-top: 62vh;
    color: rgb(143, 143, 143);;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 69vw;
    cursor: context-menu;
    transition: transform 0.5s;
}
.imgequacao2grau {
    position: absolute;
    margin-top: 75vh;
    margin-left: 73vw;
}
.imgequacao2grau:hover {
    animation: zoom 2s 1;
}
.equacao2graubutton {
    background-color: #1E8ADC;
    color: #f1f1f1;
    font-size: 20px;
    padding: 10px;
    border: 3px solid white;
    border-color:  #f1f1f1;
    border-radius: 22px;
    cursor: pointer;
    position: absolute;
    margin-top: 113vh;
    margin-left: 73vw;
    width: 325px;
    transition: transform 0.5s;  
}
.equacao1graubutton:hover {
    background-color: #0E5EAD;
    transform: translateY(-10px);
}
.equacao2graubutton:hover {
    background-color: #0E5EAD;
    transform: translateY(-10px);
}
@keyframes cliquebutton {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
button:active {
    animation: cliquebutton 0.5s;
}
@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


