* {
    padding: 0px;
    margin: 0px;
}

.borda {
    border:  solid #3892E4;
    background-color: #3892E4;
    height: 72px;
    width: 100vw;
} 
.logo {
    position: absolute;
    margin: 8px;
}

.inicio {
    font-size: 21px ;
    color: #FFFF;
    font-weight: 79px;
    position: absolute;
    margin-left: 44vh;
    margin-top: 5vh;
    cursor: pointer;   
    transition: transform 0.3s; 
}
.inicio:hover {
    transform: translateY(-10px);
}

.equações {
    font-size: 21px ;
    color: #FFFF;
    font-weight: 79px;
    position: relative;
    margin-left: 75vh;
    margin-top: 5vh;
    cursor: pointer;
    transition: transform 0.3s;
}
.equações:hover {
    transform: translateY(-10px);
}
.operacoesbasicas {
    font-size: 21px ;
    color: #FFFF;
    font-weight: 79px;
    position: absolute;
    margin-left: 110vh;
    margin-top: 5vh;
    cursor: pointer;
    transition: transform 0.3s;
}
.operacoesbasicas:hover {
    transform: translateY(-10px);
}
.quemsomos {
    font-size: 21px ;
    color: #FFFF;
    font-weight: 79px;
    position: absolute;
    margin-left: 160vh;
    margin-top: 5vh;
    cursor: pointer;
    transition: transform 0.3s;
}
.quemsomos:hover {
    transform: translateY(-10px);
}
ul{
    display: flex;
    list-style: none;
    font-size: 23px ;
    color: #FFFF;
    font-weight: 79px;
    justify-content: space-between;
    
}
a {
    text-decoration: none;
    -webkit-text-fill-color: white;
    font-weight: bold;
    position: relative;
    display: inline;
    
}
nav ul li::after {
    content: "";
    width: 0%;
    height: 4px;
    background-color: #f1f1f1;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3S ease-in-out;
}
nav ul li:hover {
    color: #f1f1f1;
    transition: 0.7s;
}
nav ul li:hover::after {
    width: 100%;
}
body {
    display: flex;
    background-color: #dbdbdbcc;
                            
    background-size: cover;
}
.menu {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    min-width: 100px;
    opacity: 0;
    animation: opacidademenu 1.5s ease forwards;
    text-align: center; 
    
}
.equações:hover .menu {
    display: block !important;
}
.menuopbasicas {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    min-width: 100px;
    opacity: 0;
    animation: opacidademenu 1.5s ease forwards;
    text-align: center;
}
.operacoesbasicas:hover .menuopbasicas {
    display: block;
}
@keyframes opacidademenu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.matematicatitulo {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64px;
    margin-top: 22vh;
    color: #1e8adc;
    margin-left: 75vh;
    text-shadow: -1px -1px #f1f1f1, 2px 2px  #f1f1f1;
    cursor: context-menu;
    transition: transform 0.5s;
}
.matematicatitulo:hover{
    transform: translateY(-10px);
}
.basicatitulo {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64px;
    margin-top: 32vh;
    color: #1e8adc;
    margin-left: 84vh;
    text-shadow: -1px -1px #f1f1f1, 2px 2px  #f1f1f1;
    cursor: context-menu;
    transition: transform 0.5s;
}
.basicatitulo:hover {
    transform: translateY(-10px);
}
.subtitulomatbasica {
    position: absolute;
    color: rgb(143, 143, 143);
    margin-top: 43vh;
    margin-left: 70vh;
    font-family: Arial, Helvetica, sans-serif;
    cursor: context-menu;
    transition: transform 0.5s;
    text-shadow: -1px -1px #f1f1f1, 2px 2px #f1f1f1;
}
.subtitulomatbasica:hover {
    transform: translateY(-10px);
}
.txtmatbasica{
    position: absolute;
    color: rgb(143, 143, 143);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 55vh;
    margin-left: 76vh;
    font-size: 4.5vh;
    transition: transform 0.5s;
    text-shadow: -1px -1px #f1f1f1, 2px 2px #f1f1f1;
    cursor: context-menu;
}
.txtmatbasica:hover {
    transform: translateY(-10px);
}
.imgadicao {
    position: absolute;
    margin-top: 55vh;
    margin-left: 10vh;
}
.imgadicao:hover {
    animation: zoom 2s;
}
@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1);
    }
}
.adicaobutton {
    background-color: #1E8ADC;
    color: #f1f1f1;
    font-size: 20px;
    padding: 10px;
    border: 3px solid white;
    border-color:  #f1f1f1;
    border-radius: 22px;
    cursor: pointer;
    position: absolute;
    margin-top: 85vh;
    margin-left: 10vh;
    width: 320px; 
    transition: transform 0.5s; 
    
}
button:hover {
    background-color: #0E5EAD;
    transform: translateY(-10px);
}
@keyframes cliquebutton {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
button:active {
    animation: cliquebutton 0.5s;
}
.imgsubtracao {
    position: absolute;
    margin-top: 103vh;
    margin-left: 10vh;
}
img:hover {
    animation: zoom 2s;
}
.subtracaobutton {
    background-color: #1E8ADC;
    color: #f1f1f1;
    font-size: 20px;
    padding: 10px;
    border: 3px solid white;
    border-color:  #f1f1f1;
    border-radius: 22px;
    cursor: pointer;
    position: absolute;
    margin-top: 133vh;
    margin-left: 10vh;
    width: 320px; 
    transition: transform 0.5s; 
}
.imgmulti {
    position: absolute;
    margin-top: 55vh;
    margin-left: 155vh;
}
.multibutton {
    background-color: #1E8ADC;
    color: #f1f1f1;
    font-size: 20px;
    padding: 10px;
    border: 3px solid white;
    border-color:  #f1f1f1;
    border-radius: 22px;
    cursor: pointer;
    position: absolute;
    margin-top: 85vh;
    margin-left: 155vh;
    width: 320px; 
    transition: transform 0.5s; 
}
.imgdivisao {
    position: absolute;
    margin-top: 103vh;
    margin-left: 155vh;
}
.divisaobutton {
    background-color: #1E8ADC;
    color: #f1f1f1;
    font-size: 20px;
    padding: 10px;
    border: 3px solid white;
    border-color:  #f1f1f1;
    border-radius: 22px;
    cursor: pointer;
    position: absolute;
    margin-top: 133vh;
    margin-left: 155vh;
    width: 320px; 
    transition: transform 0.5s; 
}
